{{define "content"}}
<div class="project-index">

	<!-- OPTIONS -->
	<div id="optionsContainer" class="options-container-box">
		<h3 class="options-container-title">Projects</h3>
		<button type="button" class="btn btn-success" onclick="Project.list()">Refresh</button>
	</div>

	<!-- RESULTS DATA -->
	<div id="results" class="list-group"></div>

	<div id="no-results">
		<div class="list-group">
			<a href="#" class="list-group-item">No project found</a>
		</div>
	</div>

	<div id="loading-results">
		<div class="list-group">
			<a href="#" class="list-group-item">Loading...</a>
		</div>
	</div>

</div>

<!-- STARTUP -->
<script>
	$(document).ready(function() {
		Project.list();
	});
</script>

{{end}}