{{define "content"}}
<div class="project-view">

    <!-- OPTIONS -->
    <div id="options-container" class="panel panel-default hiddenContent">
        <div class="panel-body">
            <h3 class="options-container-title">Project <span class="ph-project-name"></span></h3>
            <button type="button" class="btn btn-success" onclick="Project.list()">Refresh</button>
        </div>
    </div>

    <!-- DATA -->
    <div id="data"></div>

    <div id="no-data">
        <div class="panel panel-default">
            <div class="panel-body">
                <div>Project not found</div>
            </div>
        </div>
    </div>

    <div id="error-data">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>Problem while loading project</h3>
                <p id="error-data-message"></p>
                <button type="button" class="btn btn-primary" onclick="Util.redirect('/project/index')">Back</button>
            </div>
        </div>
    </div>

    <div id="loading-data">
        <div class="panel panel-default">
            <div class="panel-body">Loading...</div>
        </div>
    </div>

</div>

<!-- STARTUP -->
<script>
	$(document).ready(function() {
		Project.view(Util.getQueryParam('project'), function() {
			Util.showOptionsContainer();
		});
	});
</script>

{{end}}