<div class="task-view">

	<!-- OPTIONS -->
	<div id="options-container" class="panel panel-default">
		<div class="panel-body">
			<h3 class="options-container-title">Task {{task?.name}}</h3>
			<button type="button" class="btn btn-success" (click)="showTaskOptions(project.id, project.name, task.id, task.name, task.description)">Run</button>
			<button type="button" class="btn btn-primary" (click)="load()">Refresh</button>
			<button type="button" class="btn btn-default" (click)="back()">Back</button>
		</div>
	</div>

	<!-- DATA -->
	<div id="data" *ngIf="showData">
		<h5>Details</h5>

		<div class="panel panel-default">
			<div class="panel-body">
				<div><strong>Project:</strong> {{project.name}}</div>
				<div><strong>Task:</strong> {{task.name}}</div>
				<div><strong>Description:</strong> {{task.description}}</div>
				<div><strong>Steps:</strong> {{task.steps?.length}}</div>
			</div>
		</div>

		<h5 *ngIf="project.tasks?.length > 0">Tasks</h5>

		<div id="project-task-list" class="list-group" *ngIf="project.tasks?.length > 0">
			<div *ngFor="let task of project.tasks" class="project-task-row list-group-item">
				<h4 class="list-group-item-heading">{{task.name}}</h4>
				<div class="list-group-item-text">
					<p>
						<strong>Description:</strong>{{task.description}}
						<br/>
						<strong>Steps:</strong>{{task.steps?.length}}
					</p>
					<div>
						<button type="button" class="btn btn-success" (click)="showTaskOptions(project.id, project.name, task.id, task.name, task.description)">Run</button>
						<button type="button" class="btn btn-default" (click)="view(project.id, task.id)">View</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="no-data" *ngIf="showEmptyData">
		<div class="panel panel-default">
			<div class="panel-body">
				<div>Project not found</div>
			</div>
		</div>
	</div>

	<div id="error-data" *ngIf="showError">
		<div class="panel panel-default">
			<div class="panel-body">
				<h3>Problem while loading project</h3>
				<p id="error-data-message"></p>
				<button type="button" class="btn btn-primary" (click)="back()">Back</button>
			</div>
		</div>
	</div>

	<div id="loading-data" *ngIf="showLoading">
		<div class="panel panel-default">
			<div class="panel-body">Loading...</div>
		</div>
	</div>

	<div id="ph-project-task-last-job-data" *ngIf="showLastJobData">
		<h5>Last job data</h5>

		<div class="ph-project-task-last-job-details">
			<div class="panel panel-default">
				<div class="panel-body">
					<div>
						<strong>Job: </strong> {{lastJob.id}}
					</div>
					<div>
						<strong>Created at:</strong> {{lastJob.createdAt | timestampFormat}}
					</div>
					<div>
						<strong>Started at:</strong> {{lastJob.startedAt | timestampFormat}}
					</div>
					<div>
						<strong>Finished at:</strong> {{lastJob.finishedAt | timestampFormat}}
					</div>
					<div>
						<strong>Duration:</strong> {{lastJob.duration}}s
					</div>
					<div>
						<strong>Status:</strong>
						<span [ngSwitch]="lastJob?.status">
							<span *ngSwitchCase="'onqueue'" class="label label-primary">{{lastJob.status}}</span>
							<span *ngSwitchCase="'running'" class="label label-warning">{{lastJob.status}}</span>
							<span *ngSwitchCase="'success'" class="label label-success">{{lastJob.status}}</span>
							<span *ngSwitchCase="'error'" class="label label-danger">{{lastJob.status}}</span>
							<span *ngSwitchDefault class="label label-success">{{lastJob.status}}</span>
						</span>
					</div>
					<div>
						<strong>Progress:</strong>
						<div class="progress">
							<span [ngSwitch]="lastJob.status">
								<div *ngSwitchCase="'onqueue'" class="active progress-bar progress-bar-info" role="progressbar" [attr.aria-valuenow]="lastJob.progress" aria-valuemin="0" aria-valuemax="100" [style.width]="lastJob.progress + '%'" style="min-width: 2em">
									{{lastJob.progress}}%
								</div>

								<div *ngSwitchCase="'success'" class="active progress-bar progress-bar-success" role="progressbar" [attr.aria-valuenow]="lastJob.progress" aria-valuemin="0" aria-valuemax="100" [style.width]="lastJob.progress + '%'" style="min-width: 2em">
									{{lastJob.progress}}%
								</div>

								<div *ngSwitchCase="'running'" class="active progress-bar progress-bar-striped progress-bar-warning" role="progressbar" [attr.aria-valuenow]="lastJob.progress" aria-valuemin="0" aria-valuemax="100" [style.width]="lastJob.progress + '%'" style="min-width: 2em">
									{{lastJob.progress}}%
								</div>

								<div *ngSwitchCase="'error'" class="active progress-bar progress-bar-danger" role="progressbar" [attr.aria-valuenow]="lastJob.progress" aria-valuemin="0" aria-valuemax="100" [style.width]="lastJob.progress + '%'" style="min-width: 2em">
									{{lastJob.progress}}%
								</div>

								<div *ngSwitchDefault class="active progress-bar progress-bar-success" role="progressbar" [attr.aria-valuenow]="lastJob.progress" aria-valuemin="0" aria-valuemax="100" [style.width]="lastJob.progress + '%'" style="min-width: 2em">
									{{lastJob.progress}}%
								</div>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div>
			<ul class="ph-project-task-last-job-tabs nav nav-tabs" role="tablist">
				<li role="presentation" *ngFor="let outputGroup of jobOutputGroupList" [class.active]="outputGroup.active">
					<a id="tab-{{outputGroup.id}}" href="#tab-content-{{outputGroup.id}}" [attr.aria-controls]="'tab-content-'+ outputGroup.id" role="tab" data-toggle="tab">{{outputGroup.name}}</a>
				</li>
			</ul>
			<div class="tab-content ph-project-task-last-job-tab-contents">
				<div role="tabpanel" class="tab-pane tab-pane-output-group" id="tab-content-{{outputGroup.id}}" *ngFor="let outputGroup of jobOutputGroupList" [class.active]="outputGroup.active">
					<div class="panel panel-default">
						<div id="tab-content-body-{{outputGroup.id}}" class="panel-body" [innerHTML]="outputGroup.output"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="ph-project-task-last-job-no-data" *ngIf="showLastJobEmptyData">
		<div class="panel panel-default">
			<div class="panel-body">
				<div>Last job not found</div>
			</div>
		</div>
	</div>

	<div id="ph-project-task-last-job-error-data" *ngIf="showLastJobError">
		<div class="panel panel-default">
			<div class="panel-body">
				<h3>Problem while loading last job data</h3>
				<p id="ph-project-task-last-job-error-data-message"></p>
				<button type="button" class="btn btn-primary" (click)="getLastJobData()">Try again</button>
			</div>
		</div>
	</div>

	<div id="ph-project-task-last-job-loading-data" *ngIf="showLastJobLoading">
		<div class="panel panel-default">
			<div class="panel-body">Loading last job data...</div>
		</div>
	</div>

	<task-options *ngIf="showTaskOptionsForm" [projectId]="runProjectId" [projectName]="runProjectName" [taskId]="runTaskId" [taskName]="runTaskName" [taskDescription]="runTaskDescription" [options]="runTaskOptions" (taskRunWithSuccess)="taskRunWithSuccess($event)" (taskRunWithError)="taskRunWithError($event)" (taskRunCancel)="taskRunCancel($event)"></task-options>

</div>
