html,
body {
	height: 100%;
}

body {
	padding-top: 70px;
}

*:focus {
	outline: none !important;
}

.navbar {
	background-color: #205081;
}

.navbar-default {
	border-bottom: 2px #3d96f3;
	color: #fff;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand {
	color: #fff;
}

.navbar-default .navbar-toggle {
	border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #3d96f3;
}

.navbar .brand, .navbar .nav > li > a:hover,
.navbar .brand, .navbar .nav > li > a:focus {
	color: #3d96f3;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border: 0 transparent;
	box-shadow: none;
}

a {
	text-decoration: none;
	color: #000;
}

a:focus {
	text-decoration: none;
	color: #3d96f3;
}

a:hover {
	text-decoration: none;
	color: #3d96f3;
}

.footer {
	height: 60px;
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
	padding-top: 20px;
}

.wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto -60px;
	padding: 0 0 60px;
}

.wrap > .container {
	padding: 15px 20px;
}

.wrap > .container-fluid {
	padding: 0;
}

.footer {
	height: 60px;
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
	padding-top: 20px;
}

.jumbotron {
	text-align: center;
	background-color: transparent;
}

.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}

.not-set {
	color: #3d96f3;
	font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	padding-left: 5px;
}

a.asc:after {
	content: /*"\e113"*/ "\e151";
}

a.desc:after {
	content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
	content: "\e153";
}

.sort-numerical a.desc:after {
	content: "\e154";
}

.sort-ordinal a.asc:after {
	content: "\e155";
}

.sort-ordinal a.desc:after {
	content: "\e156";
}

.grid-view th {
	white-space: nowrap;
}

.hint-block {
	display: block;
	margin-top: 5px;
	color: #999;
}

.error-summary {
	color: #205081;
	background: #fdf7f7;
	border-left: 3px solid #eed3d7;
	padding: 10px 20px;
	margin: 0 0 15px 0;
}

.wrap-log {
	padding-bottom: 0;
}

.no-footer {
	display: none;
}

.options-container-box {
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 10px;
	margin: 10px;
	margin-bottom: 20px;
}

.options-container-title {
	margin: 0 0 10px 0;
}

#no-data {
	display: none;
}

#error-data {
	display: none;
}

#loading-data {
	display: none;
}

#error-data h3 {
	margin-top: 0;
}

#graph-data h3 {
	margin-top: 0;
}

#data {
	display: none;
}

.hiddenContent {
	display: none;
}

.modalErrorWindowMessageList {
	text-align: left;
}

.action-icon {
	width: 32px;
	height: 32px;
}

.project-task-row .list-group-item-heading {
	margin-right: 70px;
}

.project-task-row .list-group-item-text {
	margin-right: 70px;
}

.home-index .logo {
	width: 200px;
}

.navbar-brand .logo {
	width: 28px;
	margin-top: -5px;
	margin-right: 10px;
}

.ph-project-task-job-last-result-progress .progress {
	margin-bottom: 0;
}

.output-content-line-error {
	color: #ff0017;
}

.output-content-line-warning {
	color: #f2b902;
}

.output-content-line-info {
	color: #127fff;
}

.output-content-line-success {
	color: #00BB08;
}

.tab-pane-output-group .panel {
	border-top:0 none;
	border-radius: 0;
}

.tab-pane-output-group .panel .panel-body {
	word-wrap: break-word;
}

#job-list .progress {
	margin-bottom: 0;
}

.pie-chart-serie-on-queue {
	stroke: #08b4fa;
}

.pie-chart-serie-running {
	stroke: #ffbe41;
}

.pie-chart-serie-success {
	stroke: #39c558;
}

.pie-chart-serie-error {
	stroke: #ff3e43;
}

.toast-success {
	color: #ffffff;
	border-color: #1bbf89;
	background-color: #1bbf89;
}

.toast-warning {
	color: #ffffff;
	border-color: #f7af3e;
	background-color: #f7af3e;
}

.toast-info {
	color: #ffffff;
	border-color: #56C0E0;
	background-color: #56C0E0;
}

.toast-error {
	color: #ffffff;
	border-color: #DB524B;
	background-color: #DB524B;
}

#toast-container > div {
	opacity: 1;
	margin-top: 20px;
	border-radius: 4px;
	padding: 20px 20px 20px 50px;
	-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

#toast-container > div:hover {
	-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
}