{{define "content"}}
<div class="log-index">

	<!-- FILTERS -->
	<div id="filtersContainer" class="filters-container-box">

		<h4>FILTERS</h4>

		<div class="form-group">
			<label for="filterMessage">Message</label>
			<input type="text" class="form-control" id="filterMessage" placeholder="Type query for message and apply"
				   autocomplete="off">
		</div>
		<button type="button" class="btn btn-primary" onclick="Log.showLogFilters(false)">Hide</button>
		<button type="button" class="btn btn-primary" onclick="Log.clearLogFilters()">Clear</button>
		<button type="button" class="btn btn-success" onclick="Log.applyFilters()">Apply</button>

	</div>

	<!-- RESULTS DATA -->
	<div id="results"></div>

	<div id="no-results">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Message</h3>
			</div>
			<div class="panel-body">
				No results :(
			</div>
		</div>
	</div>

	<div id="loading-results">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Loading...</h3>
			</div>
			<div class="panel-body">
				Please wait, we are loading results...
			</div>
		</div>
	</div>

</div>

<!-- MODAL - OPTIONS -->
<div class="modal fade" id="optionsModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
					aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Options</h4>
			</div>
			<div class="modal-body" style="text-align: center">
				<p>
					<label class="checkbox-inline">
						<input type="checkbox" id="chkAutoScrollBottom" checked="checked"> Auto scroll to bottom
					</label>
				</p>

				<hr/>

				<div class="btn-group" role="group" aria-label="...">
					<button type="button" class="btn btn-primary" onclick="Util.scrollToTop()">Scroll to Top</button>
					<button type="button" class="btn btn-primary" onclick="Util.scrollToBottom()">Scroll to Bottom
					</button>
				</div>

				<hr/>

				<div class="btn-group" role="group" aria-label="...">
					<button type="button" class="btn btn-primary" onclick="Log.redirectToLogStatsByType()">Go to stats by type</button>
				</div>

				<hr/>

				<div class="btn-group" role="group" aria-label="...">
					<button type="button" class="btn btn-primary" onclick="Log.showLogFilters(true)">Show
						filters
					</button>
					<button type="button" class="btn btn-primary" onclick="Log.showLogFilters(false)">Hide
						filters
					</button>
				</div>

				<hr/>

				<div class="btn-group" role="group" aria-label="...">
					<button type="button" class="btn btn-danger" onclick="Log.clear()">Clear list</button>
					<button type="button" class="btn btn-danger" onclick="Log.deleteAllByToken()">Delete logs and
						clear
					</button>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- MODAL - LOG - DETAILS -->
<div class="modal fade" id="logDetailsModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
					aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Log details</h4>
			</div>
			<div class="modal-body" style="text-align: center">
				<p>
					<span class="logDetailsBlockTitle">Type: </span>
					<br/>
					<span id="logDetailsType"></span>
				</p>
				<hr/>
				<p>
					<span class="logDetailsBlockTitle">Created at: </span>
					<br/>
					<span id="logDetailsCreatedAt"></span>
				</p>
				<hr/>
				<p>
					<span class="logDetailsBlockTitle">Message: </span>
					<br/>
					<textarea class="form-control" rows="5" id="logDetailsMessage"></textarea>
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- STARTUP -->
<script>
	$(document).ready(function() {
		Log.initialize();
	});
</script>

{{end}}