{{define "content"}}
<div class="home-index">

    <div class="jumbotron">
        <h1>GoCI</h1>

        <p class="lead">Welcome! Click on button below to start!.</p>

        <p>
			<a class="btn btn-lg btn-success" href="/project/index">Start</a>
		</p>
    </div>

    <div class="body-content">

        <div class="row">
            <div class="col-lg-4">
                <h2>Simple scripts</h2>
                <p>Create simple scripts or reuse your existing scripts</p>
            </div>
            <div class="col-lg-4">
                <h2>Simple API</h2>
                <p>It works with a simple API, using HTTP requests to make verything - if you want</p>
            </div>
            <div class="col-lg-4">
                <h2>Friendly Interface</h2>
                <p>You can see your logs with a nice and friendly web responsive interface</p>
            </div>
        </div>

    </div>
</div>
{{end}}