<div>
	<form *ngIf="form" (ngSubmit)="run()" [formGroup]="form">
		<div *ngFor="let taskOption of taskOptions" class="form-row">
			<label [attr.for]="taskOption.id">{{taskOption.description}}</label>

			<div [ngSwitch]="taskOption.type">

				<input *ngSwitchCase="'text'" [formControlName]="taskOption.id" [id]="taskOption.id" type="text">

				<select [id]="taskOption.id" *ngSwitchCase="'select'" [formControlName]="taskOption.id">
					<option *ngFor="let selectOption of taskOption.values" [value]="selectOption.value">{{selectOption.text}}</option>
				</select>
			</div>
		</div>

		<div class="form-row">
			<button type="submit" class="btn btn-success">Run</button>
		</div>
	</form>
</div>
