{{define "content"}}
<div class="task-view">

	<!-- OPTIONS -->
	<div id="options-container" class="panel panel-default hiddenContent">
		<div class="panel-body">
			<h3 class="options-container-title">Task <span class="ph-project-task-name"></span></h3>
			<button type="button" class="btn btn-primary ph-project-task-run-button" onclick="projectTaskRun(Util.getQueryParam('task'))">Run</button>
			<button type="button" class="btn btn-success" onclick="load()">Refresh</button>
			<button type="button" class="btn btn-default" onclick="back()">Back</button>
		</div>
	</div>

	<!-- DATA -->
	<div id="data">
		<h5>Details</h5>

		<div class="panel panel-default">
			<div class="panel-body">
				<div><strong>Project:</strong> <span class="ph-project-name"></span></div>
				<div><strong>Task:</strong> <span class="ph-project-task-name"></span></div>
				<div><strong>Description:</strong> <span class="ph-project-task-description"></span></div>
				<div><strong>Steps:</strong> <span class="ph-project-task-steps-num"></span></div>
			</div>
		</div>

		<div id="ph-project-task-last-job-data" class="hiddenContent">
			<h5>Last job data</h5>

			<div class="ph-project-task-last-job-details">
				<div class="panel panel-default">
					<div class="panel-body">
						<div>
							<strong>Job:</strong>
							<span class="ph-project-task-last-job-id"></span>
						</div>
						<div>
							<strong>Created at:</strong>
							<span class="ph-project-task-last-job-created-at"></span>
						</div>
						<div>
							<strong>Started at:</strong>
							<span class="ph-project-task-last-job-started-at"></span>
						</div>
						<div>
							<strong>Finished at:</strong>
							<span class="ph-project-task-last-job-finished-at"></span>
						</div>
						<div>
							<strong>Duration:</strong>
							<span class="ph-project-task-last-job-duration"></span>
						</div>
						<div>
							<strong>Status:</strong>
							<span class="ph-project-task-last-job-status"></span></div>
						<div>&nbsp;</div>
						<div>
							<strong>Progress:</strong>
							<span class="ph-project-task-last-job-progress"></span>
						</div>
					</div>
				</div>
			</div>
			<div>
				<ul class="ph-project-task-last-job-tabs nav nav-tabs" role="tablist"></ul>
				<div class="tab-content ph-project-task-last-job-tab-contents"></div>
			</div>
		</div>

		<div id="ph-project-task-last-job-no-data" class="hiddenContent">
			<div class="panel panel-default">
				<div class="panel-body">
					<div>Last job not found</div>
				</div>
			</div>
		</div>

		<div id="ph-project-task-last-job-error-data" class="hiddenContent">
			<div class="panel panel-default">
				<div class="panel-body">
					<h3>Problem while loading last job data</h3>
					<p id="ph-project-task-last-job-error-data-message"></p>
					<button type="button" class="btn btn-primary" onclick="projectTaskLastJob()">Try again</button>
				</div>
			</div>
		</div>

		<div id="ph-project-task-last-job-loading-data" class="hiddenContent">
			<div class="panel panel-default">
				<div class="panel-body">Loading last job data...</div>
			</div>
		</div>
	</div>

	<div id="no-data">
		<div class="panel panel-default">
			<div class="panel-body">
				<div>Task not found</div>
			</div>
		</div>
	</div>

	<div id="error-data">
		<div class="panel panel-default">
			<div class="panel-body">
				<h3>Problem while loading task</h3>
				<p id="error-data-message"></p>
				<button type="button" class="btn btn-primary" onclick="back()">Back</button>
			</div>
		</div>
	</div>

	<div id="loading-data">
		<div class="panel panel-default">
			<div class="panel-body">Loading...</div>
		</div>
	</div>

</div>

<!-- STARTUP -->
<script>
	var lastJobId = "";
	var lastJobProgress;
	var lastJobStatus;
	var contentUpdatedAtList = [];

	function reset() {
		lastJobProgress = -1;
		lastJobStatus = "";
	}

	function load() {
		var projectId = Util.getQueryParam("project");
		var taskId = Util.getQueryParam("task");

		Task.view(projectId, taskId, function () {
			Util.showLoadingData();
		}, function (wr) {
			var errorMessage = null;

			if (wr.success) {
				var task = wr.getDataItem("task");

				if (Util.isNullOrUndefined(task)) {
					errorMessage = "Task data is invalid";
				} else {
					$('.ph-project-name').html(projectId);
					$('.ph-project-task-name').html(task.name);
					$('.ph-project-task-description').html(task.description);
					$('.ph-project-task-steps-num').html(task.steps.length);

					Util.showData();
					Util.showOptionsContainer();
				}

				projectTaskLastJob();
			} else {
				errorMessage = Util.getFirstErrorMessage(wr.data.errors);
			}

			if (errorMessage) {
				Util.showErrorData(errorMessage);
			}

			Util.showOptionsContainer();
		}, function () {
			Util.showErrorData("An error occurred while processing your request, try again!");
		});
	}

	function projectTaskRun(taskId) {
		bootbox.confirm("Are you sure that you want run this task?", function (result) {
			if (result) {
				var projectId = Util.getQueryParam("project");

				Task.run(projectId, taskId, function () {
					Util.showProgressWindow();
				}, function (wr) {
					Util.hideProgressWindow();

					var errorMessage = null;

					if (wr.success) {
						Util.showSuccessNotification('Your task was queued with success!');
					} else {
						errorMessage = Util.getFirstErrorMessage(wr.data.errors);
					}

					if (errorMessage) {
						Util.showErrorNotification(errorMessage);
					}
				}, function () {
					Util.hideProgressWindow();
					Util.showErrorNotification("An error occurred while processing your request, try again!");
				});
			}
		});
	}

	function projectTaskLastJob() {
		var projectId = Util.getQueryParam("project");
		var taskId = Util.getQueryParam("task");

		Job.last(projectId, taskId, function () {
			if (lastJobId == '') {
				Util.showLoadingData("ph-project-task-job-last");
			}
		}, function (wr) {
			var errorMessage = "";

			if (wr.success) {
				var job = wr.getDataItem("job");

				if (Util.isNullOrUndefined(job)) {
					$(".ph-project-task-last-job-tabs").html("");
					$(".ph-project-task-last-job-tabs").hide();
					$(".ph-project-task-last-job-tab-contents").html("");
				} else {
					var outputGroup = job.outputGroup;

					if (Util.isNullOrUndefined(job)) {
						outputGroup = []
					}

					if (lastJobId != job.id) {
						reset();
						$(".ph-project-task-last-job-tabs").html("");
						$(".ph-project-task-last-job-tabs").hide();
						$(".ph-project-task-last-job-tab-contents").html("");
						$(".ph-project-task-last-job-id").html(job.id);
					}

					lastJobId = job.id;

					var progressClass = '';

					if (job.status == Job.JOB_STATUS_ON_QUEUE) {
						progressClass += " progress-bar progress-bar-info ";
					} else if (job.status == Job.JOB_STATUS_RUNNING) {
						progressClass += " progress-bar progress-bar-striped progress-bar-warning ";
					} else if (job.status == Job.JOB_STATUS_SUCCESS) {
						progressClass += " progress-bar progress-bar-success ";
					} else if (job.status == Job.JOB_STATUS_ERROR) {
						progressClass += " progress-bar progress-bar-danger ";
					} else {
						progressClass += " progress-bar progress-bar-success ";
					}

					progressClass += (job.progress < 100) ? ' active ' : ' ';

					var progressHTML = '' +
						'<div class="progress">' +
						'    <div class="' + progressClass + '" role="progressbar" aria-valuenow="' + job.progress + '" aria-valuemin="0" aria-valuemax="100" style="width: ' + job.progress + '%" style="min-width: 2em;">' +
						'        ' + job.progress + '%' +
						'    </div>' +
						'</div>';

					var statusHTML = '';

					if (job.status == Job.JOB_STATUS_ON_QUEUE) {
						statusHTML += '<span class="label label-primary">' + job.status + '</span>';
					} else if (job.status == Job.JOB_STATUS_RUNNING) {
						statusHTML += '<span class="label label-warning">' + job.status + '</span>';
					} else if (job.status == Job.JOB_STATUS_SUCCESS) {
						statusHTML += '<span class="label label-success">' + job.status + '</span>';
					} else if (job.status == Job.JOB_STATUS_ERROR) {
						statusHTML += '<span class="label label-danger">' + job.status + '</span>';
					} else {
						statusHTML += '<span class="label label-success">' + job.status + '</span>';
					}

					$(".ph-project-task-last-job-created-at").html(Util.unixTimestampToDateTime(job.createdAt));
					$(".ph-project-task-last-job-started-at").html(Util.unixTimestampToDateTime(job.startedAt));
					$(".ph-project-task-last-job-finished-at").html(Util.unixTimestampToDateTime(job.finishedAt));
					$(".ph-project-task-last-job-duration").html(job.duration + "s");

					var needUpdateOutputGroup = true;

					if (lastJobStatus == Job.JOB_STATUS_SUCCESS) {
						needUpdateOutputGroup = false;
					} else if (lastJobStatus == Job.JOB_STATUS_ERROR) {
						needUpdateOutputGroup = false;
					}

					if (needUpdateOutputGroup) {
						var tabToActivate = "";

						for (var x = 0; x < outputGroup.length; x++) {
							var outputGroupName = outputGroup[x].name;
							var tabId = Util.slugify(outputGroup[x].name);

							if ($("#tab-" + tabId).length == 0) {
								if (tabToActivate == "") {
									tabToActivate = tabId;
								}

								var tabHTML = '' +
									'<li role="presentation">' +
									'    <a id="tab-' + tabId + '" href="#tab-content-' + tabId + '" aria-controls="tab-content-' + tabId + '" role="tab" data-toggle="tab">' + outputGroupName + '</a>' +
									'</li>';

								var tabContentHTML = '' +
									'<div role="tabpanel" class="tab-pane tab-pane-output-group" id="tab-content-' + tabId + '">' +
									'    <div class="panel panel-default">' +
									'        <div id="tab-content-body-' + tabId + '" class="panel-body"> ' +
									'            ' + outputGroup[x].output +
									'        </div>' +
									'    </div>' +
									'</div>';

								$(".ph-project-task-last-job-tabs").append(tabHTML);
								$(".ph-project-task-last-job-tabs").show();
								$(".ph-project-task-last-job-tab-contents").append(tabContentHTML);
							} else {
								$("#tab-content-body-" + tabId).html(outputGroup[x].output);
							}
						}

						$(".ph-project-task-last-job-tabs a").click(function (e) {
							e.preventDefault();
							$(this).tab("show");
						});

						$("#tab-" + tabToActivate).tab("show");
					}

					if (lastJobStatus != job.status) {
						lastJobStatus = job.status;
						$(".ph-project-task-last-job-status").html(statusHTML);
						$(".ph-project-task-last-job-progress").html(progressHTML);
					}

					if (lastJobProgress != job.progress) {
						lastJobProgress = job.progress;
						$(".ph-project-task-last-job-progress").html(progressHTML);
					}
				}

				Util.showData("ph-project-task-last-job");
			} else {
				errorMessage = Util.getFirstErrorMessage(wr.data.errors);
			}

			if (errorMessage) {
				Util.showErrorData(errorMessage, "ph-project-task-last-job");
			}

			autoLoadProjectTaskLastJob();
		}, function () {
			autoLoadProjectTaskLastJob();
		});
	}

	function back() {
		var projectId = Util.getQueryParam("project");
		Util.redirect("/project/view?project=" + projectId);
	}

	function autoLoadProjectTaskLastJob() {
		setTimeout(function () {
			projectTaskLastJob();
		}, 1000);
	}

	$(document).ready(function () {
		reset();
		load();
	});
</script>
{{end}}