<div class="project-index">

	<!-- OPTIONS -->
	<div id="options-container" class="panel panel-default hiddenContent">
		<div class="panel-body">
			<h3 class="options-container-title">Project List</h3>
			<button type="button" class="btn btn-primary" (click)="load()">Refresh</button>
			<button type="button" class="btn btn-default" (click)="back()">Back</button>
		</div>
	</div>

	<!-- DATA -->
	<div id="data" *ngIf="showList">
		<div id="project-list" class="list-group">
			<a *ngFor="let item of projectList" href="javascript: void(0);" (click)="view(item.id)" class="project-row list-group-item">
				<h4 class="list-group-item-heading">{{item.name}}</h4>
				<p class="list-group-item-text">{{item.description}}</p>
			</a>
		</div>
	</div>

	<div id="no-data" *ngIf="showEmptyList">
		<div class="panel panel-default">
			<div class="panel-body">
				<div>No projects found</div>
			</div>
		</div>
	</div>

	<div id="error-data" *ngIf="showError">
		<div class="panel panel-default">
			<div class="panel-body">
				<h3>Problem while loading project list</h3>
				<p id="error-data-message"></p>
				<button type="button" class="btn btn-primary" (click)="load()">Try again</button>
			</div>
		</div>
	</div>

	<div id="loading-data" *ngIf="showLoading">
		<div class="panel panel-default">
			<div class="panel-body">Loading...</div>
		</div>
	</div>

</div>