<h4 class="list-group-item-heading">{{task.name}}</h4>
<div class="list-group-item-text">
	<div>
		<div>
			<strong>Description:</strong> {{task.description}}
		</div>

		<div>
			<strong>Steps:</strong> {{task.steps?.length}}
		</div>

		<hr style="margin: 8px 0" />

		<div>
			<strong>Duration:</strong>
			<span *ngIf="lastJob">{{lastJob?.duration}}s</span>
			<span *ngIf="!lastJob">none</span>
		</div>

		<div>
			<strong>Status:</strong>
			<span *ngIf="lastJob" [ngSwitch]="lastJob?.status">
				<span *ngSwitchCase="'onqueue'" class="label label-primary">{{lastJob?.status}}</span>
				<span *ngSwitchCase="'running'" class="label label-warning">{{lastJob?.status}}</span>
				<span *ngSwitchCase="'success'" class="label label-success">{{lastJob?.status}}</span>
				<span *ngSwitchCase="'error'" class="label label-danger">{{lastJob?.status}}</span>
				<span *ngSwitchDefault class="label label-success">{{lastJob?.status}}</span>
			</span>
			<span *ngIf="!lastJob">none</span>
		</div>

		<div>
			<strong>Progress:</strong> <span *ngIf="lastJob">{{lastJob.progress}}%</span>
			<span *ngIf="!lastJob">none</span>
		</div>
	</div>

	<br />

	<div>
		<button type="button" class="btn btn-success" (click)="sendShowTaskOptionsEvent()">Run</button>
		<button type="button" class="btn btn-default" (click)="view(task.id)">View</button>
	</div>
</div>