.navbar {
	background-color: #205081;
}

.navbar .container-fluid {
	background-color: #205081;
}

.navbar-default {
	border-bottom: 2px #3d96f3;
	color: #fff;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand {
	color: #fff;
}

.navbar-default .navbar-toggle {
	border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}

.navbar-default .navbar-brand:hover {
	color: #3d96f3;
}
.navbar-default .navbar-brand:focus {
	color: #fff;
}

.navbar .brand, .navbar .nav > li > a:hover {
	color: #3d96f3;
}

.navbar .brand, .navbar .nav > li > a:focus {
	color: #fff;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border: 0 transparent;
	box-shadow: none;
}

.navbar-brand .logo {
	width: 28px;
	margin-top: -5px;
	margin-right: 10px;
}