<div class="project-view">

	<!-- OPTIONS -->
	<div id="options-container" class="panel panel-default">
		<div class="panel-body">
			<h3 class="options-container-title">Project {{project?.name}}</h3>
			<button type="button" class="btn btn-primary" (click)="load()">Refresh</button>
			<button type="button" class="btn btn-default" (click)="back()">Back</button>
		</div>
	</div>

	<!-- DATA -->
	<div id="data" *ngIf="showData">
		<h5>Details</h5>

		<div class="panel panel-default">
			<div class="panel-body">
				<div><strong>Name:</strong> {{project.name}}</div>
				<div><strong>Description:</strong> {{project.description}}</div>
				<div><strong>Tasks:</strong> {{project.tasks?.length}}</div>
			</div>
		</div>

		<h5 *ngIf="project.tasks?.length > 0">Tasks</h5>

		<div id="project-task-list" class="list-group" *ngIf="project.tasks?.length > 0">
			<div *ngFor="let task of project.tasks" class="project-task-row list-group-item">
				<project-task-item [task]="task" [project]="project" (showTaskOptions)="showTaskOptions($event)"></project-task-item>
			</div>
		</div>
	</div>

	<div id="no-data" *ngIf="showEmptyData">
		<div class="panel panel-default">
			<div class="panel-body">
				<div>Project not found</div>
			</div>
		</div>
	</div>

	<div id="error-data" *ngIf="showError">
		<div class="panel panel-default">
			<div class="panel-body">
				<h3>Problem while loading project</h3>
				<p id="error-data-message"></p>
				<button type="button" class="btn btn-primary" (click)="back()">Back</button>
			</div>
		</div>
	</div>

	<div id="loading-data" *ngIf="showLoading">
		<div class="panel panel-default">
			<div class="panel-body">Loading...</div>
		</div>
	</div>

	<task-options *ngIf="showTaskOptionsForm" [projectId]="runProjectId" [projectName]="runProjectName" [taskId]="runTaskId" [taskName]="runTaskName" [taskDescription]="runTaskDescription" [options]="runTaskOptions" (taskRunWithSuccess)="taskRunWithSuccess($event)" (taskRunWithError)="taskRunWithError($event)" (taskRunCancel)="taskRunCancel($event)"></task-options>

</div>
