<div class="modal" style="display: block">
	<div class="modal-content">
		<div class="modal-body">

			<div style="padding: 12px 16px 2px 16px">
				<h4 style="width: 100%; text-align: right;">RUN NOW</h4>
				<div><strong>Project:</strong> {{projectName}}</div>
				<div><strong>Task:</strong> {{taskName}}</div>
				<div><strong>Description:</strong> {{taskDescription}}</div>
			</div>

			<hr/>

			<div *ngIf="showEmptyMessage">
				<h5 style="padding: 2px 16px; width: 100%; text-align: center;">No options are required for this task, click on RUN button to start the task</h5>
			</div>

			<form *ngIf="form" (ngSubmit)="run()" [formGroup]="form" autocomplete="off">

				<div *ngFor="let taskOption of taskOptions" style="padding: 2px 16px;">

					<div [ngSwitch]="taskOption.type">

						<div *ngSwitchCase="'text'" class="form-group">
							<label [attr.for]="taskOption.id">{{taskOption.description}}</label>
							<input [formControlName]="taskOption.id" [id]="taskOption.id" type="text" class="form-control" autocomplete="off">
						</div>

						<div *ngSwitchCase="'password'" class="form-group">
							<label [attr.for]="taskOption.id">{{taskOption.description}}</label>
							<input [formControlName]="taskOption.id" [id]="taskOption.id" type="password" class="form-control" autocomplete="off">
						</div>

						<div *ngSwitchCase="'hidden'" class="form-group">
							<input [formControlName]="taskOption.id" [id]="taskOption.id" type="hidden" class="form-control" autocomplete="off">
						</div>

						<div *ngSwitchCase="'select'" class="form-group">
							<label [attr.for]="taskOption.id">{{taskOption.description}}</label>

							<select [id]="taskOption.id" [formControlName]="taskOption.id" class="form-control" autocomplete="off">
								<option *ngFor="let selectOption of taskOption.values" [value]="selectOption.value">{{selectOption.text}}</option>
							</select>
						</div>

						<div *ngSwitchCase="'checkbox'" class="checkbox">
							<label [attr.for]="taskOption.id">
								<input [formControlName]="taskOption.id" [id]="taskOption.id" type="checkbox" autocomplete="off">
								{{taskOption.description}}
							</label>
						</div>

						<div *ngSwitchCase="'textarea'" class="form-group">
							<label [attr.for]="taskOption.id">{{taskOption.description}}</label>
							<textarea [formControlName]="taskOption.id" [id]="taskOption.id" type="text" class="form-control" rows="5" autocomplete="off"></textarea>
						</div>
					</div>
				</div>

				<hr/>

				<div style="text-align: right; padding: 12px 16px;">
					<button type="button" (click)="cancel()" class="btn btn-default">Cancel</button>
					<button #btRun type="submit" class="btn btn-success" style="margin-left: 10px">Run</button>
				</div>

			</form>
		</div>
	</div>
</div>