<div class="job-list">

    <div class="col-md-8 col-lg-8">
        <!-- OPTIONS -->
        <div id="options-container" class="panel panel-default">
            <div class="panel-body">
                <h3 class="options-container-title">Job List</h3>
                <button type="button" class="btn btn-default" (click)="back()">Back</button>
            </div>
        </div>

        <!-- DATA -->
        <div id="data" *ngIf="showData">
            <div id="job-list" class="list-group">
                <div *ngFor="let job of jobList" id="job-row-{{job.id}}" class="job-row list-group-item">
                    <h4 class="list-group-item-heading">
                        <a href="javascript:void(0);" (click)="view(job.projectId, job.taskId)">{{job.task.name}}</a>
                    </h4>
                    <div class="list-group-item-text">
                        <div>
                            <strong>Job: </strong> {{job.id}}
                        </div>
                        <div>
                            <strong>Created at:</strong> {{job.createdAt | timestampFormat}}
                        </div>
                        <div>
                            <strong>Started at:</strong> {{job.startedAt | timestampFormat}}
                        </div>
                        <div>
                            <strong>Duration:</strong> {{job.duration}}s
                        </div>
                        <div>
                            <strong>Status:</strong>
                            <span [ngSwitch]="job?.status">
							<span *ngSwitchCase="'onqueue'" class="label label-primary">{{job.status}}</span>
							<span *ngSwitchCase="'running'" class="label label-warning">{{job.status}}</span>
							<span *ngSwitchCase="'success'" class="label label-success">{{job.status}}</span>
							<span *ngSwitchCase="'error'" class="label label-danger">{{job.status}}</span>
							<span *ngSwitchDefault class="label label-success">{{job.status}}</span>
						</span>
                        </div>
                        <div>
                            <strong>Progress:</strong>
                            <div class="progress">
							<span [ngSwitch]="job.status">
								<div *ngSwitchCase="'onqueue'" class="active progress-bar progress-bar-info"
                                     role="progressbar" [attr.aria-valuenow]="job.progress" aria-valuemin="0"
                                     aria-valuemax="100" [style.width]="job.progress + '%'" style="min-width: 2em">
									{{job.progress}}%
								</div>

								<div *ngSwitchCase="'success'" class="active progress-bar progress-bar-success"
                                     role="progressbar" [attr.aria-valuenow]="job.progress" aria-valuemin="0"
                                     aria-valuemax="100" [style.width]="job.progress + '%'" style="min-width: 2em">
									{{job.progress}}%
								</div>

								<div *ngSwitchCase="'running'"
                                     class="active progress-bar progress-bar-striped progress-bar-warning"
                                     role="progressbar" [attr.aria-valuenow]="job.progress" aria-valuemin="0"
                                     aria-valuemax="100" [style.width]="job.progress + '%'" style="min-width: 2em">
									{{job.progress}}%
								</div>

								<div *ngSwitchCase="'error'" class="active progress-bar progress-bar-danger"
                                     role="progressbar" [attr.aria-valuenow]="job.progress" aria-valuemin="0"
                                     aria-valuemax="100" [style.width]="job.progress + '%'" style="min-width: 2em">
									{{job.progress}}%
								</div>

								<div *ngSwitchDefault class="active progress-bar progress-bar-success"
                                     role="progressbar" [attr.aria-valuenow]="job.progress" aria-valuemin="0"
                                     aria-valuemax="100" [style.width]="job.progress + '%'" style="min-width: 2em">
									{{job.progress}}%
								</div>
							</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="no-data" *ngIf="showEmptyData">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div>No jobs found</div>
                </div>
            </div>
        </div>

        <div id="error-data" *ngIf="showError">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Problem while loading job list</h3>
                    <p id="error-data-message"></p>
                    <button type="button" class="btn btn-primary" (click)="load()">Try again</button>
                </div>
            </div>
        </div>

        <div id="loading-data" *ngIf="showLoading">
            <div class="panel panel-default">
                <div class="panel-body">Loading...</div>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-lg-4">
        <div id="graph-data" *ngIf="showData">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Job graph</h3>
                    <br/>
                    <canvas baseChart
                            class="chart"
                            [datasets]="chartDataDatasets"
                            [labels]="chartDataLabels"
                            [options]="chartDataOptions"
                            [colors]="chartDataColors"
                            [chartType]="'doughnut'">
                    </canvas>
                </div>
            </div>
        </div>

        <div id="graph-no-data" *ngIf="showEmptyData">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div>No jobs for graph</div>
                </div>
            </div>
        </div>

        <div id="graph-error-data" *ngIf="showError">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div>Problem while loading job list</div>
                </div>
            </div>
        </div>

        <div id="graph-loading-data" *ngIf="showLoading">
            <div class="panel panel-default">
                <div class="panel-body">Loading...</div>
            </div>
        </div>
    </div>

</div>