<div class="job-list">

	<div class="col-md-8 col-lg-8">
		<!-- OPTIONS -->
		<div id="options-container" class="panel panel-default hiddenContent">
			<div class="panel-body">
				<h3 class="options-container-title">Job List</h3>
				<button type="button" class="btn btn-default" (click)="backToHome()">Back</button>
			</div>
		</div>

		<!-- DATA -->
		<div id="data" *ngIf="jobList">
			<div id="job-list" class="list-group"></div>
		</div>

		<div id="no-data">
			<div class="panel panel-default">
				<div class="panel-body">
					<div>No jobs found</div>
				</div>
			</div>
		</div>

		<div id="error-data">
			<div class="panel panel-default">
				<div class="panel-body">
					<h3>Problem while loading job list</h3>
					<p id="error-data-message"></p>
					<button type="button" class="btn btn-primary" onclick="load();">Try again</button>
				</div>
			</div>
		</div>

		<div id="loading-data">
			<div class="panel panel-default">
				<div class="panel-body">Loading...</div>
			</div>
		</div>
	</div>
	<div class="col-md-4 col-lg-4">
		<div id="graph-data">
			<div class="panel panel-default">
				<div class="panel-body">
					<h3>Job graph</h3>
					<br/>
					<canvas id="graph"></canvas>
				</div>
			</div>
		</div>

		<div id="graph-no-data">
			<div class="panel panel-default">
				<div class="panel-body">
					<div>No jobs for graph</div>
				</div>
			</div>
		</div>

		<div id="graph-error-data">
			<div class="panel panel-default">
				<div class="panel-body">
					<div>Problem while loading job list</div>
				</div>
			</div>
		</div>

		<div id="graph-loading-data">
			<div class="panel panel-default">
				<div class="panel-body">Loading...</div>
			</div>
		</div>
	</div>

</div>