{{define "layout"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <title>GoCI</title>

    <!--[if IE]>
    <link rel="shortcut icon" href="/static/favicon/favicon.ico">
    <![endif]-->

    <link rel="icon" href="/static/favicon/favicon.png">

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/site.css">

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/Util.js"></script>
    <script src="/static/js/Project.js"></script>
    <script src="/static/js/Task.js"></script>
    <script src="/static/js/Job.js"></script>

    <script>
		var WEB_BASE_URL = '/';

    </script>
</head>
<body>

<!-- MAIN CONTENT -->
<div class="wrap {{if .WrapClass}} {{.WrapClass}} {{end}}">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="/static/images/logo-header.png" border="0" alt="" class="logo pull-left" />
                    GoCI
                </a>
            </div>
            <div id="nav-collapse" class="collapse navbar-collapse">
                {{if .ShowLogMenu}}
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#" data-toggle="modal" data-target="#optionsModal">Options</a>
                        </li>
                    </ul>
                {{else}}
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/">Home</a>
                        </li>
                    </ul>
                {{end}}
            </div>
        </div>
    </nav>

    <div class="{{if .ContainerClass}} {{.ContainerClass}} {{else}} container {{end}}">
        {{template "content" .Content}}
    </div>
</div>

<!-- MODAL - PROGRESS -->
<div class="modal" id="modalProgressWindow" tabindex="-1" role="dialog" aria-labelledby="modalProgressWindowLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div style="text-align: center; width: 100%;">
                    <p>
                        <img src="/static/images/ajax-loader.gif" alt="Processing..." style="width: 32px; height: 32px;" />
                    </p>
                    <div id="modalProgressWindowMessage">
                        <p>We are processing your request, please wait ...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL - ERROR -->
<div class="modal" id="modalErrorWindow" tabindex="-1" role="dialog" aria-labelledby="modalErrorWindowLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p style="width: 100%; text-align: center;"><img src="/static/images/icon-error-window.png" alt="Erro" style="width: 32px; height: 32px;" /></p>
                <p id="modalErrorWindowMessage" style="width: 100%; text-align: center;">An error occurred while processing your request, try again!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL - SUCCESS -->
<div class="modal" id="modalSuccessWindow" tabindex="-1" role="dialog" aria-labelledby="modalSuccessWindowLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalSuccessWindowLabel">Message</h4>
            </div>
            <div class="modal-body">
                <p style="width: 100%; text-align: center;"><img src="/static/images/icon-success-window.png" alt="Sucesso" style="width: 32px; height: 32px;" /></p>
                <p id="modalSuccessWindowMessage" style="width: 100%; text-align: center;">Your request has been processed successfully!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- FOOTER -->
<footer class="footer {{if .FooterClass}} {{.FooterClass}} {{end}}">
    <div class="container">
        <p class="pull-left">&copy; GoCI</p>

        <p class="pull-right">Created By: <a href="http://www.pcoutinho.com" title="Paulo Coutinho" target="_blank">Paulo
            Coutinho</a>
        </p>
    </div>
</footer>

</body>
</html>
{{end}}