<div class="home-index">

	<div class="jumbotron">
		<h1>GoCI</h1>

		<p class="lead">
			<img src="../../static/images/logo.png" border="0" alt="" class="logo"/>
		</p>

		<p class="lead">Welcome! Click on button below to start!.</p>

		<p>
			<a class="btn btn-lg btn-success" routerLink="/project/list">Start</a>
		</p>
	</div>

	<div class="body-content">

		<div class="row">
			<div class="col-lg-4">
				<h2>Simple structure</h2>
				<p>With a file based structure you can easily versioning all project files</p>
			</div>
			<div class="col-lg-4">
				<h2>Simple API</h2>
				<p>It works with a simple API, using HTTP requests to make everything - if you want</p>
			</div>
			<div class="col-lg-4">
				<h2>Friendly Interface</h2>
				<p>You can see your logs with a nice and friendly web responsive interface</p>
			</div>
		</div>

	</div>
</div>